

{% extends 'plantilla_menu.html' %}
{% load static %}

{%block contenido%}

	<!-- SECCION CATALOGO -->

  <section>
    <h2>PRODUCTOS</h2>
    <div class="card" style="width: 18rem;">
      <div class="img-container">
        <span class="promo">15% de descuento</span>
        <img src="https://jumbo.vtexassets.com/arquivos/ids/433536/Tierra-de-hojas-15-L.jpg?v=637551362907300000" class="card-img-top"
          alt="...">
      </div>
      <div class="card-body">
        <h3 class="card-title">Tierra de hoja</h5>
          <strong>$19.990</strong>
          <br>
          <strong>$2̶2̶.̶9̶9̶0̶</strong>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <strong>Stock Disponible: +10 Unidades</strong>
          <a href="#" class="btn btn-primary">AGREGAR AL CARRITO</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="img-container">
        <span class="promo">15% de descuento</span>
        <img src="https://jumbo.vtexassets.com/arquivos/ids/433536/Tierra-de-hojas-15-L.jpg?v=637551362907300000" class="card-img-top"
          alt="...">
      </div>
      <div class="card-body">
        <h3 class="card-title">Tierra de hoja</h5>
          <strong>$19.990</strong>
          <br>
          <strong>$2̶2̶.̶9̶9̶0̶</strong>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <strong>Stock Disponible: +10 Unidades</strong>
          <a href="#" class="btn btn-primary">AGREGAR AL CARRITO</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="img-container">
        <span class="promo">15% de descuento</span>
        <img src="https://jumbo.vtexassets.com/arquivos/ids/433536/Tierra-de-hojas-15-L.jpg?v=637551362907300000" class="card-img-top"
          alt="...">
      </div>
      <div class="card-body">
        <h3 class="card-title">Tierra de hoja</h5>
          <strong>$19.990</strong>
          <br>
          <strong>$2̶2̶.̶9̶9̶0̶</strong>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <strong>Stock Disponible: +10 Unidades</strong>
          <a href="#" class="btn btn-primary">AGREGAR AL CARRITO</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="img-container">
        <span class="promo">15% de descuento</span>
        <img src="https://jumbo.vtexassets.com/arquivos/ids/433536/Tierra-de-hojas-15-L.jpg?v=637551362907300000" class="card-img-top"
          alt="...">
      </div>
      <div class="card-body">
        <h3 class="card-title">Tierra de hoja</h5>
          <strong>$19.990</strong>
          <br>
          <strong>$2̶2̶.̶9̶9̶0̶</strong>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <strong>Stock Disponible: +10 Unidades</strong>
          <a href="#" class="btn btn-primary">AGREGAR AL CARRITO</a>
      </div>
    </div>
  </section>


	<section>
      <h2>CATALOGO | TIERRA DE HOJAS</h2>
        <div class="card estilo-c">
          <a href="#">
            <div class="img-container">
              <img src="https://jumbo.vtexassets.com/arquivos/ids/433536/Tierra-de-hojas-15-L.jpg?v=637551362907300000" alt="producto 1">
              <span class="promo">40% de descuento</span>
            </div>
            </a>
          <div class="info-container">
            <h3>Tierra de hoja</h3>
            <strong>$49.990</strong><strong>$7̶9̶.9̶9̶0̶</strong>
            <span class="rating">★★★★☆</span>
            <strong >Stock Disponible: +10 Unidades</strong>
            <a href="#" class="add-cart">Añadir al carrito</a>
          </div>
        </div>
        <div class="card estilo-c">
          <a href="#">
            <div class="img-container">
              <img src="https://www.prosan.cl/370-large_default/tierra-de-hoja-compostada-prosan-30-litros-para-todo-tipo-de-plantas.jpg" alt="producto 1">
              <span class="promo">50% de descuento</span>
            </div>
            </a>
          <div class="info-container">
            <h3>Tierra Compostada</h3>
            <strong>$9.990</strong>
			      <strong>$ ̶1̶7̶.9̶9̶0̶</strong>
            <span class="rating">★★★★★</span>
            <strong >Stock Disponible: +10 Unidades</strong>
            <a href="#" class="add-cart">Añadir al carrito</a>
          </div>
        </div>
        <div class="card estilo-c">
          <a href="#">
            <div class="img-container">
              <img src="https://cdnx.jumpseller.com/vuelta-verde/image/4505133/resize/1200/1200?1620670630" alt="producto 1">
              <span class="promo">20% de descuento</span>
            </div>
            </a>
          <div class="info-container">
            <h3>Tierra de hoja natural</h3>
            <strong>$14.990</strong><strong>$ ̶1̶7̶.9̶9̶0̶</strong>
            <span class="rating">★★★★★</span>
            <strong >Stock Disponible: +10 Unidades</strong>
            <a href="#" class="add-cart">Añadir al carrito</a>
          </div>
        </div>		
    </section>
{% endblock contenido%}